/* Общий стиль */
body
{
	font-family: "lucida grande" ,tahoma,verdana,arial,sans-serif;
}

a:hover
{
	text-decoration: underline;
}

a
{
	color: #3B5998;
	text-decoration: none;
}


/* Стиль меню */
.Menu
{
	background-color: Red;
	text-align: center;
	vertical-align: bottom;
	border-color: Black;
	border-style: solid;
	border-width: 1px;
	color: White;
	cursor: hand;
	float: left;
	font-size: 10px;
	text-decoration: none;
	padding-right: 4px;
}

.Menu:Hover
{
	background-color: Blue;
	text-align: center;
	vertical-align: middle;
	border-color: Black;
	border-style: solid;
	border-width: 1px;
	color: White;
	cursor: hand;
	float: left;
	text-decoration: none;
}

.MenuTable
{
	vertical-align: bottom;
	color: White;
	cursor: hand;
	float: left;
	font-size: 14px;
	text-decoration: none;
}

.MenuImage
{
	text-decoration: none;
	border-width: 0px;
	width: 30px;
	height: 30px;
}

/* Стиль формы для регистрации */
.Registration
{
	background-color: #DFE4EE;
	border: 1px solid #C6CFE1;
	margin: 0pt;
	padding: 10px;
	display: block;
	margin: 0pt;
	width: 300px;
	font-size: 11px;
}

.Registraion_h2
{
	font-size: 13px;
	font-weight: bold;
	padding: 0pt 0pt 5px;
	color: #333333;
}

.Registration_table
{
	width: 100%;
	height: 100%;
}

.Registration_text
{
	color: #555555;
	font-weight: bold;
	text-align: right;
	width: 90px;
}

.Registration_input
{
	width: 180px;
}

.Registration_signup
{
	border-width: 1px;
	border-style: solid;
	border-color: #3B6E22;
	font-size: 11px;
	text-decoration: none;
	height: 22px;
	width: 100px;
	background-color: #67A54B;
	color: White;
	font-size: 14px;
	text-align: center;
	margin-top: 10px;
	margin-left: 40%;
	cursor: hand;
}

.Registration_signup_td
{
	text-align: center;
}

.Registraion_validator
{
	margin-top: 5px;
	background: #FFEBE8 none repeat scroll 0% 50%;
	border: 1px solid #DD3C10;
	height: 0px;
	line-height: 15px;
	margin: 10px 0pt 0pt;
	overflow: hidden;
	padding: 7px 0pt;
	text-align: center;
	display: none;
	height: 15px;
}

/* Стиль формы для логина */

.Login_input
{
	width: 123px;
}

.Login
{
	background: #F7F7F7 none repeat scroll 0%;
	border-bottom: 1px solid #DDDDDD;
	color: #000000;
	font-size: 11px;
	width: 170px;
}

.Login_submit
{
	background-color: #3B5998;
	border-color: #D9DFEA rgb(14, 31, 91) rgb(14, 31, 91) rgb(217, 223, 234);
	border-style: solid;
	border-width: 1px;
	color: #FFFFFF;
	font-family: "lucida grande" ,tahoma,verdana,arial,sans-serif;
	font-size: 11px;
	padding: 2px 15px 3px;
	text-align: center;
	text-decoration:none;
	width:50px;
	cursor:hand;
}

.Login_text
{
	color: #555555;
	font-weight: bold;
	padding-top: 7px;
}

.Login_checkbox
{
	color: #333333;
	display: block;
	font-size: 11px;
	font-weight: normal;
	line-height: 16px;
}

.Login_space
{
	padding-top: 7px;
}

.Login_validator
{
	display:none;
}

/* Профайлер */
.LeftColumn
{
	float: left;
	overflow: hidden;
	width: 200px;
	height: 100%;
	vertical-align: top;
}

.RightColumn
{
	float: right;
	margin: 0px;
	overflow: hidden;
	padding: 0px;
	width: 420px;
	height: 100%;
	vertical-align: top;
}

.MainDivProfile
{
	text-align: center;
	width: 100%;
	height: 100%;
}

.MainTableProfile
{
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

.UserStatus
{
	background-color: #EEE5B8;
	background-position: left top;
	background-repeat: repeat-x;
	border-bottom: 1px solid #D7CF9E;
	border-left: 1px solid #E4DDB4;
	color: black;
	font-size: 16px;
	font-weight: bold;
	margin: 0px;
	padding: 2px 10px 5px;
}

.UserStatusEdit
{
	text-align: right;
	border-right: 1px solid #DCD4A4;
}

.Headers
{
	background-image: url(images/flex_arrow_open.gif);
	background-position: left center;
	background-repeat: no-repeat;
	border-top: 1px solid #45688E;
	background-color: #DAE2E8;
	padding-left: 20px;
	color: #45688E;
	font-size: 14px;
	font-weight: bold;
}

.LeftTableProfile, .RightTableProfile
{
	width: 100%;
	height: 100%;
}

.Avatar
{
	text-align: center;
}

.LabelText
{
	color: gray;
	width: 140px;
	font-size: 14px;
	line-height: 16px;
}

.LableValue
{
	width: 260px;
	font-size: 14px;
	line-height: 16px;
	display: block;
}

/* Редоктирование профайлера */
.LabelValueEdit
{
	height: 30px;
}

.FileAvatarUpload
{
	width: 100%;
}

.IMTextBox
{
	width: 70px;
}

.SaveButtonTD
{
	text-align: right;
}

.SaveButtonTable, .SettingsTable
{
	width: 100%;
}

.SaveLabelTD
{
	color: Red;
	width: 140px;
	font-size: 14px;
	line-height: 16px;
}
